/*------------- comuni -------------*/
body{
	margin: 0px;
	color:black;
}

hr{
	color: red;
}


/*-------- top pagina e menu -------*/
#top{
	width: 100%; 
	position:fixed; 
	top: 0;
}

#testata {
	background-color: #ccc; 
	border: 1px solid #000;
	text-align: center;
	font: 0.9em arial, sans-serif;
}

#testata h1 {
	color:darkblue;
}

#menu{
	background-color: black;
	padding: 5px;
	text-align: center;
	/*text-transform: uppercase;*/
	font: 0.9em arial, sans-serif;

}
#menu a {
	text-decoration: none; 
	color:white;
	/*font-size: 1.2em;*/  
}
#menu a:hover {
	text-decoration: underline; 
	color:red;
}

#menu ul{
	overflow:hidden;
	margin: 0px;
}
#menu li{
	display:inline-block; 
	padding-left: 7px;
	padding-right: 7px; 
	margin-bottom: 0px;
}

/*--------- centro pagina ----------*/
#container {
	border: 1px solid #CCC; 
}

#container h1 {
	color:red;
}

#sidebar{
	width: 20%;
	/*border-right: 1px solid #CCC;*/
	min-height: 500px;
	float: left;
}

#sidebar li{
	list-style: none;
}

#content{
	width: 75%;
	/*border-left: 1px solid #FC3;*/
	min-height: 500px;
	float: right;
}

/*--------- classi pagine varie ----------*/
.calendario td{
	border: 1px solid blue;
	width: 100px;
}

.quadratomagico div{
	padding: auto;
	background-color: orange;
	max-width: 512px;
	clear: left;
}

.quadratomagico h1{
	text-align: center;
	font-size: 1.3em;
	width: auto;
	height: 10%;
	margin: auto;
	border: 1px dotted red;
}

.quadratomagico table{
	padding: 5px;
	border: 2px dashed red;
	float: left;
}

.quadratomagico td{
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
}

.codice{
	width:95%;
	height: 50%;
	background-color: #f0f0f0;
	color: #555555;
	padding: 5px;
	overflow: auto;
	border:1px solid grey;
}